/**
*info:游戏详情页面
*author:zhangting
*date:2015.09.14 09:56
*logo:
**/
.z_main {
  padding: 1.2%;
  padding-top: 0;
  color: #ffffff;
}
.infos {
  height: auto;
  position: relative;
  clear: both;
  overflow: hidden;
  margin-top: 7px;
}
.save_game {
  width: auto;
  color: #FFF;
}
.save_game a {
  display: block;
  height: 15px;
  width: 15px;
  margin: 0 auto;
}
.save_game a img {
  display: block;
  margin: 0 auto;
}
.save_game a.lb_cont img {
  position: relative;
  top: 12%;
}
.save_game p {
  line-height: 18px;
  height: 18px;
  font-size: 12px;
}
.ml_20 {
  margin-left: 11%;
}
.game_banner {
  margin-top: 5px;
  position: relative;
}
.list_imgs {
  overflow: auto;
  width: auto;
  padding-bottom: 5%;
}
.list_imgs ul {
  padding: 0;
}
.list_imgs ul li {
  float: left;
  overflow: auto;
}
.list_imgs ul li a {
  width: 47%;
  display: inline-block;
  float: left;
  padding: 4% 2%;
}
.list_imgs ul li a img {
  width: 100%;
  height: auto;
}
.list_imgs ul li a:first-child {
  padding-right: 1%;
}
.list_imgs ul li a:last-child {
  padding-left: 1%;
}
.game_detail {
  margin-top: 5px;
}
.game_detail_main article {
  padding: 4%;
}
.game_detail_main {
  position: relative;
}
.game_detail h2 {
  height: 36px;
  line-height: 36px;
  text-indent: 1em;
  position: relative;
  font-weight: 100;
  font-size: 14px;
}
.game_detail_main article p {
  font-size: 12px;
  line-height: 2em;
  text-indent: 1.5em;
  overflow: hidden;
  color: #CCCCCC;
}
.game_detail p span {
  float: left;
  text-align: left;
  text-indent: 0.5em;
}
.game_detail p span.title {
  width: 100px;
  text-align: right;
}
.margin_bottom {
  margin-bottom: 20px;
}
.i_play {
  background-position: -161px -5px;
}
.infos_main {
  height: auto;
  padding: 10px 14px;
  overflow: hidden;
}
.z_main .to_play {
  height: auto;
}
.to_play div.game_btn {
  height: 100%;
}
.game_list_main {
  height: 30px;
  overflow: hidden;
  padding: 14px;
}
.game_list .game_btn {
  float: right;
  height: 60px;
  position: relative;
  width: 65px;
}
.game_list .game_btn a.btn_blue {
  width: 63px;
  height: 34px;
  line-height: 34px;
  font-size: 11px;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -18px;
  display: block;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  border-radius: 3px;
}
.game_list .game_btn a:hover {
  background-color: #0e4379;
  border-color: #1b5baa;
}
.bottom_margin {
  height: 15px;
  width: 100%;
}
/**slider css  start-----------------------------*/
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 55px;
  /*background: transparent url("../images/themes.png") no-repeat left top;*/
  margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
.callbacks_tabs {
  list-style: none;
  position: absolute;
  bottom: 2%;
  z-index: 999;
  left: 37%;
}
.callbacks_tabs li {
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
  }
}
/*----*/
.callbacks_tabs a {
  visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  visibility: visible;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after {
  background: #29ba67;
}
/**slider css  end-----------------------------*/
/**index.css*/
@media only screen and (max-width: 320px) {
  .play_list ul li {
    font-size: 1.5em;
  }
  .game_list li div.game_btn button.ui-btn-b {
    font-size: 1.0em;
  }
  .center div.center_left {
    font-size: 1.2em;
    line-height: 5vh;
  }
  .game_news_main .new_page1 div.ui-block-b {
    font-size: 1.0em;
  }
  .center .center_right span {
    line-height: 5vh;
  }
  .game_detail_main article {
    padding: 1%;
  }
  .game_detail p span.title {
    width: 80px;
  }
}
.game_list ul {
  padding: 0;
}
.game_list ul li {
  height: auto;
  padding-bottom: 2%;
  position: relative;
  clear: both;
  overflow: hidden;
  padding-top: 2%;
}
/**??????? ?±???**/
.linear {
  color: #565759;
  width: 100%;
  height: 2px;
  position: absolute;
  /*background: linear-gradient(to right, rgba(87,105,115,0), rgba(87,105,115,1));*/
  background: url("../public/images/line_bg.png") no-repeat right;
  background-size: 100% 1px;
  bottom: 0;
  border: 0;
}
.game_list .game_log {
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  margin-right: 14px;
}
.game_list .game_log a {
  display: block;
  width: 100%;
  height: 100%;
}
.game_list .game_log img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.game_list .game_info {
  float: left;
  width: auto;
  height: 100%;
}
.game_list .game_info h3 {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 100;
}
.small {
  width: 37px;
  height: 18px;
  color: #ffffff;
  font-style: normal;
  background: #f9433a;
  border-radius: 5px;
  padding: 1px 5px;
  font-weight: 100;
}
.new {
  background: #2dbd6b;
}
.game_list {
  overflow: hidden;
  height: auto;
}
.game_list .slide_cont {
  width: auto;
  position: relative;
}
.game_list .slide_cont ul {
  float: left;
  overflow: auto;
}
.game_list .game_info p {
  height: 15px;
  line-height: 15px;
  font-weight: 100;
  color: #FFF;
  opacity: 0.8;
  clear: both;
  vertical-align: middle;
}
.game_list .game_info p span:last-child {
  display: inline-block;
  float: left;
}
.game_list .game_info span.start_list {
  float: left;
  height: 100%;
  width: auto;
  margin-right: 14px;
}
.game_list .game_info span.start_list a {
  display: inline-block;
  width: 8px;
  height: 100%;
  position: relative;
}
.game_list .game_info span.start_list a img {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}
.game_list .game_btn button.ui-btn-b {
  width: 100%;
  background: #2270BF none repeat scroll 0 0;
  border-color: #3085EE;
  font-weight: bold;
  font-size: 1.5em;
  height: 3em;
  margin: 0;
}
.game_list .game_btn button.ui-btn-b:hover {
  background-color: #0e4379;
  border-color: #1b5baa;
}
html body .ui-group-theme-a a:hover {
  color: #FFFFFF;
  opacity: 1;
}
.game_log .icon_cont {
  position: absolute;
  width: 40%;
  height: auto;
}
.i_fl {
  background-position: -2px -38px;
  width: 61px;
  height: 65px;
  background-size: 100% auto;
}
.i_hd {
  background-position: -2px -38px;
  width: 61px;
  height: 65px;
  background-size: 100% auto;
}
.swipe {
  overflow: hidden;
  /*visibility: hidden;*/
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap .wrap {
  float: left;
  width: 100%;
  position: relative;
}
.btn_check {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.btn_check ul {
  width: auto;
  height: 10px;
  padding: 0;
}
.btn_check ul li {
  float: left;
  background: #FFFFFF;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.btn_check ul li.active_role {
  background-color: #2abd72;
}
.b {
  font-weight: 200;
}
