/**
*info:game_gift.html 礼包页面样式
*author:zhangting
*date:2015.00.13 17:00
*logo:
**/
.z_main {
  padding: 1.2%;
  padding-top: 0;
  color: #ffffff;
}
.infos {
  height: auto;
  position: relative;
  clear: both;
  overflow: hidden;
  margin-top: 15px;
}
.game_list {
  overflow: hidden;
  height: auto;
}
.infos_main {
  height: 50px;
  padding: 14px;
}
.linear {
  color: #565759;
  width: 100%;
  height: 2px;
  position: absolute;
  /* background: linear-gradient(to right, rgba(87,105,115,0), rgba(87,105,115,1)); */
  background: url("../public/images/line_bg.png") no-repeat right;
  background-size: 100% 1px;
  bottom: 0;
  border: 0;
}
.infos_main {
  height: 50px;
  padding: 14px;
}
.game_list .game_log {
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  margin-right: 14px;
}
.game_list .game_info {
  float: left;
  width: auto;
  height: 100%;
}
.game_list .game_log a {
  display: block;
  width: 100%;
  height: 100%;
}
.game_list .game_log img {
  width: 50px;
  height: 50px;
}
.game_list .game_info {
  float: left;
  width: auto;
  height: 100%;
}
.game_list .game_info h3 {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 100;
}
.game_list .game_info p {
  height: 15px;
  line-height: 15px;
  font-weight: 100;
  color: #FFF;
  opacity: 0.8;
  clear: both;
  vertical-align: middle;
}
.game_list .game_info span.start_list {
  float: left;
  height: 100%;
  width: auto;
  margin-right: 14px;
}
.game_list .game_info p span:last-child {
  display: inline-block;
  float: left;
}
.game_list .game_info p {
  height: 15px;
  line-height: 15px;
  font-weight: 100;
  color: #FFF;
  opacity: 0.8;
  clear: both;
  vertical-align: middle;
}
.b {
  font-weight: 200;
}
.game_list {
  overflow: hidden;
  height: auto;
  margin-bottom: 1px;
}
.game_list_main {
  height: 34px;
  overflow: hidden;
  padding: 10px 14px;
}
.game_list .game_info span.start_list img {
  width: 10px;
  height: 10px;
}
.save_game {
  width: auto;
  color: #FFF;
}
.save_game a {
  display: block;
  height: 15px;
  width: 15px;
  margin: 0 auto;
}
.save_game p {
  line-height: 18px;
  height: 18px;
  font-size: 12px;
}
/*.game_list .game_btn {*/
  /*width: auto;*/
  /*float: right;*/
  /*height: 100%;*/
/*}*/
.game_list .game_btn a.btn_blue {
  width: 63px;
  height: 34px;
  line-height: 34px;
  font-size: 11px;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -18px;
  display: block;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  border-radius: 3px;
}
.z_main .to_play {
  height: auto;
  margin-bottom: 10px;
}
.get_gift {
  margin-bottom: 15px;
}
.get_gift h3 {
  background-color: rgba(0, 0, 0, 0.2);
  height: 36px;
  line-height: 36px;
  text-indent: 14px;
  font-weight: 100;
  margin-bottom: 1px;
}
.get_gift > div {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2% 12px 2% 14px;
}
.menus {
  overflow: hidden;
  color: #9da7b0;
  margin: 5px 0;
}
.get {
  color: #9da7b0;
  height: 34px;
  line-height: 34px;
  margin: 10px 0;
}
.get span {
  display: inline-block;
  float: left;
}
.get input {
  background-color: transparent;
  font-style: normal;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
  color: #ffffff;
  width: 136px;
}
.get .btn_green {
  width: 78px;
  height: 34px;
  background-color: #15a98b;
  line-height: 34px;
  border-radius: 4px;
}
.get .btn_gray {
  background-color: gray;
}
.tips {
  height: 25px;
  line-height: 25px;
  color: #f9433a;
  font-size: 10px;
}
.details {
  line-height: 26px;
  color: #9da7b0;
  padding: 5px 12px 5px 14px;
}
