/**
*info:游戏登录页面login.html styles
*author:zhangting
*date:2015.09.20 09:56
*logo:
**/
body,
html,
div {
  font-family: "Microsoft YaHei";
  padding: 0;
  margin: 0;
  height: 100%;
}
.z_container input[type='button'],
.z_container input[type='submit'],
.z_container input[type='reset'] {
  -webkit-appearance: none;
  border-radius: 0;
}
.button {
  border-radius: 0;
}
.z_main {
  height: auto;
  padding: 16px 10%;
  color: #ffffff;
  position: relative;
}
.user_form input {
  display: block;
  width: 100%;
  font-family: "Microsoft YaHei";
}
.user_form input[type=text],
.user_form input[type=password] {
  height: 49px;
  border: 0;
  border-bottom: 1px solid #29ba67;
  background-color: rgba(255, 0, 0, 0);
  font-size: 16px;
  color: #ffffff;
  border-radius: 0;
}
.user_form a.login_btn ,a.register_btn {
  display: block;
  width: 40%;
  height: 45px;
  line-height: 45px;
  font-family: "Microsoft YaHei";
  background-color: #29ba67;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-size: 24px;
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0 rgba(255, 0, 0, 0);
          box-shadow: 0 0 rgba(255, 0, 0, 0);
}
.user_form a:active {
  color: #FFFFFF;
}
.login_nav {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.login_nav h3 {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 100;
  font-family: "Microsoft YaHei";
  text-align: center;
  position: relative;
  color: #BBBBBB;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.login_nav h3 span {
  display: inline-block;
  float: left;
  position: relative;
}
.login_nav h3 .line_through:first-child {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  box-flex: 5;
}
.login_nav h3 .line_through:last-child {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  box-flex: 5;
}
.line_through {
  width: 140px;
  height: 50%;
  border-bottom: 1px solid rgba(187, 187, 187, 0.36);
}
.center_word {
  width: 70px;
}
.login_nav nav {
  height: 51px;
  margin-top: 10px;
  position: relative;
}
.login_nav nav a {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  text-indent: 55px;
  line-height: 51px;
  font-size: 16px;
  background-color: #248dc1;
  border-radius: 30px;
}
.login_nav nav .left_btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.login_nav nav .right_btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.login_nav nav a .logos {
  display: inline-block;
  width: 30px;
  height: auto;
  position: absolute;
  left: 20px;
  top: 50%;
}
.login_nav nav a .weixin_img {
  height: 25px;
  background: url("../images/login/weixin2.png") no-repeat center;
  background-size: 100% 100%;
  margin-top: -12px;
}
.login_nav nav a .qq_img {
  width: 22px;
  height: 25px;
  background: url("../images/login/qq2.png") no-repeat center;
  background-size: 100% 100%;
  margin-top: -12px;
}
.login_nav nav a:visited {
  /*color:red;*/
}
.login_nav nav a:hover {
  /*color:red;*/
}
.login_nav nav a:active {
  border: 0;
  background-color: #207ead;
}
.split_h {
  display: inline-block;
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #00303c;
  left: 50%;
  z-index: 10;
}
.bottom_btns {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  height: 35px;
  line-height: 35px;
  width: 100%;
  margin-top: 50px;
}
.box1 {
  /*-moz-box-flex: 2;*/
  /*-webkit-box-flex: 2;*/
  text-align: center;
  color: #BBBBBB;
  position: relative;
}
.box1 input[type=checkbox] {
  /*display: block;*/
  /*width: 18px;*/
  /*height: 18px;*/
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}
.box1 label {
  float: left;
  text-indent: 20px;
}
.box2 {
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
}
.box2 .btn_green2 {
  display: block;
  width: 70px;
  height: 27px;
  line-height: 27px;
  margin: 0 auto;
  border: 1px solid #29ba67;
  color: #29ba67;
  text-align: center;
  border-radius: 2px;
}
.box3 a {
  display: block;
  color: #BBBBBB;
  text-align: right;
}
.bottom_btns a:hover,
.bottom_btns label:hover {
  color: #29ba67;
}
.i_check {
  display: inline-block;
  background: url("../images/register/icons_04.png") no-repeat top;
  width: 14px;
  height: 14px;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
}
.selected {
  background: url("../images/register/icons_03.png") no-repeat top;
  background-size: 100% 100%;
}
