/**
*info:充值记录pay_record.html
*author:zhangting
*date:2015.10.8 10:30
*logo:
**/
.banner {
  padding: 15px 5px;
}
.pay_infos {
  margin: 10px 5px;
}
.pay_infos nav {
  width: 100%;
  height: 36px;
  line-height: 36px;
}
.pay_infos nav {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-orient: horizontal;
  -moz-orient: horizontal;
  -webkit-orient: horizontal;
  width: 100%;
  height: 36px;
  line-height: 36px;
}
.pay_infos nav a {
  display: block;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 25%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  background-clip: content-box;
  -moz-background-clip: content-box;
  -webkit-background-clip: content-box;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pay_infos nav a:last-child {
  border: 0;
}
.bold {
  font-weight: 300;
}
.pay_infos ul li {
  height: 36px;
  line-height: 36px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
  color: #bbbbbb;
  text-indent: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn_cont {
  text-align: center;
  margin: 20px 0;
}
.btn_cont a {
  display: block;
  width: 80%;
  height: 45px;
  line-height: 45px;
  letter-spacing: 15px;
  font-size: 22px;
  margin: 0 auto;
}
input.cdkey {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: transparent;
  color: #efefef;
  height: 20px;
  line-height: 20px;
  width: 140px;
  padding: 3px 5px;
}
