/**
*info:游戏详情页面
*author:zhangting
*date:2015.09.14 09:56
*logo:
**/
.z_main {
  padding: 1.2%;
  padding-top: 0;
  color: #ffffff;
}
.infos {
  height: auto;
  position: relative;
  clear: both;
  overflow: hidden;
  padding-top: 7px;
}
.save_game {
  width: auto;
  color: #FFF;
}
.save_game a {
  display: block;
  height: 15px;
  width: 15px;
  margin: 0 auto;
}
.save_game a img {
  display: block;
  margin: 0px auto;
}
.save_game a.lb_cont img {
  position: relative;
  top: 12%;
}
.save_game p {
  line-height: 18px;
  height: 18px;
  font-size: 12px;
}
.ml_20 {
  margin-left: 11%;
}
.game_banner {
  margin-top: 5px;
}
.list_imgs {
  overflow: auto;
  width: auto;
  padding-bottom: 5%;
}
.list_imgs ul {
  padding: 0;
}
.list_imgs ul li {
  float: left;
  overflow: auto;
}
.list_imgs ul li a {
  width: 47%;
  display: inline-block;
  float: left;
  padding: 4% 2%;
}
.list_imgs ul li a img {
  width: 100%;
  height: auto;
}
.list_imgs ul li a:first-child {
  padding-right: 1%;
}
.list_imgs ul li a:last-child {
  padding-left: 1%;
}
.game_detail {
  margin-top: 5px;
  margin-bottom: 20px;
}
.game_detail_main article {
  padding: 4%;
}
.game_detail_main {
  position: relative;
}
.game_detail h2 {
  height: 36px;
  line-height: 36px;
  text-indent: 1em;
  position: relative;
  font-weight: 100;
  font-size: 14px;
  border-bottom: 1px solid rgba(44, 79, 69, 0.8);
  padding-left: 20px;
}
.game_detail h2 span {
  display: inline-block;
}
.i_all {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/server_list/i_all.png") no-repeat top;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  margin: -7px 5px 0 0;
  left: 13px;
}
.game_detail_main article p {
  font-size: 12px;
  line-height: 2em;
  text-indent: 1.5em;
  overflow: hidden;
  color: #CCCCCC;
}
.game_detail p span {
  float: left;
  text-align: left;
  text-indent: 0.5em;
}
.game_detail p span.title {
  width: 100px;
  text-align: right;
}
.margin_bottom {
  margin-bottom: 20px;
}
.last_login {
  padding: 9px 0;
  font-size: 13px;
  font-weight: 100;
  border-bottom: 1px solid rgba(44, 79, 69, 0.8);
}
.last_login .logos {
  display: inline-block;
  width: 17px;
  height: 12px;
  margin: 0 5px 0 14px;
  position: relative;
  top: 2px;
}
.i_play {
  width: 100%;
  height: 100%;
  background: url("../public/images/gamelogo.png") no-repeat top;
  background-size: 100% 100%;
}
nav.servers {
  margin-top: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
nav.servers a {
  display: inline-block;
  width: 46%;
  margin: 2%;
  float: left;
  color: #9da7b0;
  background-color: rgba(255, 255, 255, 0.05);
  /*background-color: #2b3d46;*/
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  position: relative;
}
.i_tj,
.i_xf {
  display: block;
  width: 31px;
  height: 32px;
  background: url("../images/server_list/tj.png") no-repeat top;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.i_xf {
  background-image: url("../images/server_list/xf.png");
}
.red {
  color: #d6572e;
}
.infos_main {
  height: 50px;
  padding: 14px;
}
.z_main .to_play {
  height: auto;
  margin-top: 10px;
}
.game_list_main {
  height: 30px;
  overflow: hidden;
  padding: 14px;
}
.game_list .game_btn {
  width: auto;
  float: right;
  height: 100%;
}
.game_btn .btn_blue {
  padding: 0;
  display: block;
  height: 100%;
  width: 75px;
  border-radius: 2px;
}
.bottom_margin {
  height: 15px;
  width: 100%;
}
/**div.game_list ????б?*/
.game_list ul {
  padding: 0;
}
.game_list ul li {
  height: auto;
  padding-bottom: 2%;
  position: relative;
  clear: both;
  overflow: hidden;
  padding-top: 2%;
}
/**??????? ?±???**/
.linear {
  color: #565759;
  width: 100%;
  height: 2px;
  position: absolute;
  /*background: linear-gradient(to right, rgba(87,105,115,0), rgba(87,105,115,1));*/
  background: url("../public/images/line_bg.png") no-repeat right;
  background-size: 100% 1px;
  bottom: 0;
  border: 0;
}
.game_list .game_log {
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  margin-right: 14px;
}
.game_list .game_log a {
  display: block;
  width: 100%;
  height: 100%;
}
.game_list .game_log img {
  width: 50px;
  height: 50px;
}
.game_list .game_info {
  float: left;
  width: 70%;
  height: 100%;
}
.game_list .game_info h3 {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 100;
}
.game_list {
  overflow: hidden;
  height: auto;
}
.game_list .slide_cont {
  width: auto;
  position: relative;
}
.game_list .slide_cont ul {
  float: left;
  overflow: auto;
}
.game_list .game_info p {
  height: 30px;
  line-height: 30px;
  font-weight: 100;
  color: #FFF;
  clear: both;
  vertical-align: middle;
}
html body .ui-group-theme-a a:hover {
  color: #FFFFFF;
  opacity: 1;
}
.game_log .icon_cont {
  position: absolute;
  width: 40%;
  height: auto;
}
