/**
*info:
*    找回密码  user_password.html、user_password2.html styles
*    修改密保手机 user_telephone.html
*author:zhangting
*date:2015.09.22 09:56
*log:
**/
body,
html,
div {
  font-family: "Microsoft YaHei";
  padding: 0;
  margin: 0;
  height: 100%;
}
.z_container input[type='button'],
.z_container input[type='submit'],
.z_container input[type='reset'] {
  -webkit-appearance: none;
  border-radius: 0;
}
.button {
  border-radius: 0;
}
.z_main {
  height: auto;
  padding: 5% 10%;
  color: #ffffff;
  position: relative;
}
.z_container .z_header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0 none;
}
.z_container .z_header h1 {
  height: 100%;
  color: #BBB;
  padding: 0;
  font-size: 13px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}
.z_header h1 a.fl {
  display: inline-block;
  width: auto;
  height: 100%;
  background: none;
  border: 0;
  text-shadow: 0 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  left: 5%;
  position: relative;
}
.z_header h1 a.fl img {
  position: relative;
  top: 5px;
}
.z_header h1 span {
  display: inline-block;
  height: 100%;
}
.user_form input {
  display: block;
  width: 100%;
  font-family: "Microsoft YaHei";
}
.user_form input[type=text],
.user_form input[type=password] {
  height: 49px;
  border: 0;
  border-bottom: 1px solid #29ba67;
  background-color: rgba(255, 0, 0, 0);
  font-size: 16px;
  color: #3c555e;
  border-radius: 0;
}
.user_form input[type=text]:focus,
.user_form input[type=password]:focus {
  color: #FFFFFF;
  border-color: #90ba35;
}
.user_form a.login_btn {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-family: "Microsoft YaHei";
  background-color: #29ba67;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-size: 24px;
  font-weight: 100;
  margin: 30px 0 0 0;
  text-align: center;
  -webkit-box-shadow: 0 0 rgba(255, 0, 0, 0);
          box-shadow: 0 0 rgba(255, 0, 0, 0);
}
.user_form a:active {
  color: #000000;
}
.yzm {
  clear: both;
  width: 100%;
  overflow: hidden;
  display: box;
  display: -moz-box;
  display: -webkit-box;
}
.yzm .text {
  box-flex: 5;
  -moz-box-flex: 5;
  -webkit-box-flex: 5;
  margin-right: 4%;
}
.yzm .button_cont {
  width: 82px;
  height: 50px;
  position: relative;
}
.yzm .button_cont .ger_btn {
  position: absolute;
  height: 70%;
  width: 100%;
  bottom: 0;
  color: #FFFFFF;
  background-color: #15a98b;
  border: 0;
  border-radius: 3px;
}
.yzm .button_cont .gray_btn {
  background-color: gray;
  font-weight: bold;
}
.yzm .button_cont .ger_btn:active {
  background-color: #057d53;
}
.yzm .button_cont .yzm_img {
  position: absolute;
  height: 35px;
  width: 100%;
  bottom: 0;
  border: 0;
  border-radius: 3px;
  right: 0;
}
.right_cont {
  width: 35px;
  height: 50px;
  float: left;
  position: relative;
}
.i_flash {
  display: inline-block;
  background: url("../images/register/icons_01.png") no-repeat top;
  width: 22px;
  height: 19px;
  background-size: 100% 100%;
  position: relative;
  top: 23px;
  left: 0;
  margin-left: 10px;
}
.i_flash2 {
  background: url("../images/register/icons_02.png") no-repeat top;
  background-size: 100% 100%;
}
.tips {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #d15f5f;
  font-size: 14px;
}
.service {
  height: 50px;
  line-height: 50px;
  color: #bbbbbb;
  font-size: 16px;
  position: relative;
  text-indent: 35px;
}
.i_qq {
  display: inline-block;
  width: 17px;
  height: 19px;
  background: url("../public/images/i_qq.png") no-repeat center;
  background-size: 100% auto;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
}
.title_h3 {
  font-size: 14px;
  font-weight: 100;
  color: #bbb;
  margin-bottom: 15px;
}
