/**
*info:充值记录-详情pay_infos.html
*author:zhangting
*date:2015.10.8 10:30
*logo:
**/
.your_money {
  height: 36px;
  line-height: 36px;
  margin: 7px 5px 3px;
  padding: 0 15px;
}
.your_money span.fr {
  color: #BBBBBB;
}
.bold {
  font-weight: 300;
}
.pay_infos {
  margin: 10px 5px;
}
.pay_infos ul li {
  height: 45px;
  line-height: 45px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
  color: #bbbbbb;
  text-indent: 15px;
}
.btn_cont {
  text-align: center;
  margin: 20px 0;
}
.btn_cont a {
  display: block;
  width: 80%;
  height: 45px;
  line-height: 45px;
  letter-spacing: 7px;
  font-size: 22px;
  margin: 0 auto;
}
.btn_cont a:active {
  color: #FFFFFF;
}
.btn_cont a:visited {
  color: #FFFFFF;
}
/**充值信息css**/
.infos2 ul li {
  font-size: 14px;
}
.infos2 .choses {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 100%;
  font-size: 18px;
}
.infos2 .choses div {
  position: relative;
  overflow: hidden;
}
.choses div:nth-child(1) {
  box-fex: 3;
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
  margin: 0 10px 0 15px;
}
.choses div:nth-child(2) {
  box-fex: 3;
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
  margin-right: 10px;
}
.choses div:nth-child(3) {
  box-fex: 2;
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
}
.choses div span {
  float: left;
  position: relative;
  text-indent: 5px;
}
.choses div .checkbox {
  width: 20px;
  height: 45px;
  position: relative;
  cursor: pointer;
}
.choses div .checkbox i {
  display: block;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 3px solid #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
}
.choses div .checkbox_active i {
  background: #29ba67 none repeat scroll 0% 0%;
}
.choses div .i_weixin {
  width: 21px;
  height: 45px;
}
.choses div .i_weixin i {
  display: block;
  width: 21px;
  height: 21px;
  background: url("../images/login/weixin.png") no-repeat center;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
.choses div .i_zfb {
  width: 21px;
  height: 45px;
}
.choses div .i_zfb i {
  display: block;
  width: 21px;
  height: 21px;
  background: url("../images/login/i_zfb.png") no-repeat center;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
